/*

	modern.css - A modern look CSS sample file

	Author : Osvaldo Santana Neto <osantanabr (a) brturbo com>
	Date   : June 2004
	License: GPL

	Part of the txt2tags project <http://txt2tags.sf.net>

*/

body {
	margin: 0px;
	padding: 0px;
	font-family: Garamond, Times, Serif;
}

div.header {
	border: 1px solid black;
	background-color: lightblue;
	float: center;
	width: 500px;
	padding: 10px;
}

div.header h1 {
	float: left;
	margin-left: 12pt;
	font-family: Verdana, Arial, Helvetica, Sans-Serif;
	font-size: 18pt;
	font-weight: bold;
}

div.header h2 {
	text-align: right;
	margin-right: 12pt;
	font-family: Verdana, Arial, Helvetica, Sans-Serif;
	font-size: 8pt;
}

div.header h3 {
	text-align: right;
	margin-right: 12pt;
	margin-bottom: 24pt;
	font-family: Verdana, Arial, Helvetica, Sans-Serif;
	font-size: 8pt;
	font-weight: normal;
}


div.body {
	float: center;
	width: 500px;
	padding: 10px;
	border-left: 1px dotted black;
	border-right: 1px dotted black;
	text-align: justify;
}

div.body h1, div.body h2, div.body h3, div.body h4, div.body h5, div.body h6 {
	font-family: Verdana, Arial, Helvetica, Sans-Serif;
}

div.body h1 {
	text-align: left;
	margin-top: 24pt;
	margin-bottom: 18pt;
	font-size: 12pt;
	border-left: 4px solid black;
	border-bottom: 2px solid black;
	padding: 5px;
	background: #F0F0F0;
}

div.body h2 {
	text-align: left;
	margin-top: 24pt;
	margin-bottom: 18pt;
	font-size: 12pt;
	font-weight: normal;
	border-left: 4px solid black;
	border-bottom: 1px solid black;
	padding: 5px;
	background: #F0F0F0;
}

div.body h3 {
	text-align: left;
	margin-top: 24pt;
	margin-bottom: 16pt;
	font-size: 8pt;
	border-left: 1px solid black;
	border-bottom: 1px solid black;
	padding: 5px;
	background: #F0F0F0;
}

div.body h4 {
	text-align: left;
	margin-top: 24pt;
	margin-bottom: 16pt;
	font-size: 8pt;
	font-weight: normal;
	border-left: 1px solid black;
	border-bottom: 1px solid black;
	padding: 5px;
}

div.body h5 {
	width: 80%;
	text-align: left;
	margin-top: 6pt;
	margin-bottom: 16pt;
	font-size: 8pt;
	padding: 5px;
}


div.body a {
	text-decoration: none;
	color: blue;
}

div.body a:hover {
	text-decoration: underline;
}

div.body blockquote {
	border-top: 2px solid black;
	border-bottom: 2px solid black;
	background: #FFFFBB;
	padding: 15px;
}
div.body blockquote p {
	margin-top: 2pt;
	margin-bottom: 2pt;
}

div.body pre {
	background: #FFFFBB;
	padding: 15px;
	border: 1px dashed black;
}

div.body dt {
	background: #BBFFBB;
	padding: 3pt;
	border-left: 3px solid black;
	font-family: Verdana, Arial, Helvetica, Sans-Serif;
	font-size: 10pt;
	margin-top: 18pt;
	margin-bottom: 8pt;
}

div.body img {
	border: 1px solid gray;
}
